body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:1889px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:1889px;
}
#u1153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1287px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:320px;
  width:750px;
  height:1287px;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1406px;
  width:750px;
  height:102px;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:214px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:621px;
  width:750px;
  height:214px;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:729px;
  width:750px;
  height:1px;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:649px;
  width:50px;
  height:50px;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:765px;
  width:50px;
  height:50px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:649px;
  width:109px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:656px;
  width:56px;
  height:43px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:765px;
  width:35px;
  height:35px;
}
#u1163_img.selected {
}
#u1163.selected {
}
#u1163_img.disabled {
}
#u1163.disabled {
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:765px;
  width:319px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:755px;
  height:182px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:444px;
  width:750px;
  height:177px;
}
#u1165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:136px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:468px;
  width:750px;
  height:136px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:515px;
  width:50px;
  height:50px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Bold', '萍方';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:522px;
  width:217px;
  height:43px;
  font-family:'萍方 Bold', '萍方';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:160px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:846px;
  width:750px;
  height:160px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:866px;
  width:145px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:866px;
  width:141px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:946px;
  width:103px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:102px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1029px;
  width:750px;
  height:102px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1059px;
  width:35px;
  height:35px;
}
#u1174_img.selected {
}
#u1174.selected {
}
#u1174_img.disabled {
}
#u1174.disabled {
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1059px;
  width:181px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:1052px;
  width:50px;
  height:50px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1153px;
  width:750px;
  height:253px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:157px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1201px;
  width:155px;
  height:157px;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1212px;
  width:92px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:1315px;
  width:122px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:1212px;
  width:47px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1437px;
  width:35px;
  height:35px;
}
#u1182_img.selected {
}
#u1182.selected {
}
#u1182_img.disabled {
}
#u1182.disabled {
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:1437px;
  width:433px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1508px;
  width:750px;
  height:97px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:97px;
  background:inherit;
  background-color:rgba(180, 39, 45, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1508px;
  width:222px;
  height:97px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1534px;
  width:109px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B4272D;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1542px;
  width:230px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#B4272D;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:92px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:320px;
  width:750px;
  height:92px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:341px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Bold', '萍方';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:348px;
  width:145px;
  height:43px;
  font-family:'萍方 Bold', '萍方';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:943px;
  width:73px;
  height:18px;
  font-family:'萍方 Regular', '萍方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:281px;
  width:750px;
  height:40px;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:198px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1195px;
  width:198px;
  height:198px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
